<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <title>Thymeleaf Form handling Demo</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<h1 class="py-5">Cartório</h1>
<form class="col card p-3 mb-5" th:method="put" th:action="@{/cartorios/{id}(id=${cartorio.getId()})}" th:object="${cartorio}">
    <div class="form-group">
        <label for="nome">Nome</label>
        <input class="form-control" id="nome" placeholder="Nome" required
               th:field="*{nome}"
               type="text"/>
    </div>
    <div class="form-group">
        <label for="endereco">Endereço</label>
        <input class="form-control" id="endereco" placeholder="Endereço" required
               th:field="*{endereco}"
               type="text"/>
    </div>
    <div class="form-group">
        <label for="certidao">Selecione os tipos de Certidão</label>
        <select class="form-control " id="certidao" th:field="*{certidoes}" multiple="multiple">
            <option
                    th:each="certidao : ${tiposCertidao.values()}"
                    th:field="*{certidoes}"
                    th:text="${certidao.getNome()}"
                    th:value="${certidao.getId()}">
            </option>
        </select>
    </div>
    <input class="btn btn-primary" type="submit" value="Atualizar Cartório">
</form>
</body>
</html>